/* Styles for main  page */

.cart-title {
  font: 120% bold;
}
.item-price, .total-line {
  text-align: right;
}
.total-line .total-cell{
  font-weight: bold;
  border-top: 1px solid #595;
}
#cart, #cart table {
  font-size:smaller;
  color: white;
}
#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

#banner {
background: #9c9;
padding-top: 10px;
padding-bottom: 10px;
boader-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", seriff;
color: #282;
text-align :centre;
}

#banner img {
float: left;
}

#columns {
background: #141;
}

#main {
margin-left: 13em;
padding-top: 4ex;
padding- left: 2em;
background: white;
}

#side {
float: left
padding-top: lem;
padding-left: lem
background: white
}

#side a {
color: #bfb;
font-size: small;
}
{
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
body 
