<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Mybook: <%= controller.action_name %></title>
  <%= stylesheet_link_tag  'scaffold', 'mybook' %>
</head>
<body>
  <p style="color: green"><%= flash[:notice] %></p 

<%= yield %>

</body>
</html>

